[Smtp]
username = username
passwd = p@$w0rd
smtp_host = mail.host.com
port = 25
use_tls = yes

[Message]
sender = sender@host.com
receiver = receiver@email.com
subject = New OLX offers! :)
bcc = not.required@email.com

[Files]
database_file = olx_beholder.db
urls_file = urls.txt
